<section id="about">
  <h2 class="brand-title">
    Кожен проєкт <span lang="en-US">SEE ENSO</span><span class="accent">м</span>
  </h2>
  <p class="uppercase">Привіт!</p>
  <p>
    Ми <span lang="en-US">SEE ENSO Digital</span> - агенція повного циклу, яка
    спеціалізується на створенні візуального контенту, маркетингу, комунікаціях
    та графічному дизайні.
  </p>
  <p>Ми віримо, що головним показником нашого успіх є успіх вашого бренду.</p>
  <p>
    В <span lang="en-US">SEE ENSO</span> ми прагнемо побачити Вас, відчути Ваші
    сенси та побудувати гармонійні робочі стосунки на довгі роки
  </p>
</section>
