<section id="footer">
  <h2 class="brand-title">ми в <span class="accent">соцмережах</span></h2>
  <address>
    <ul class="uppercase">
      <li><a href="#" target="_blank" rel="noopener noreferrer">тікток</a></li>
      <li><a href="#" target="_blank" rel="noopener noreferrer">youtube</a></li>
      <li>
        <a
          href="https://www.instagram.com/see.enso"
          target="_blank"
          rel="noopener noreferrer"
          >see.enso</a
        >
      </li>
    </ul>
  </address>

  <p>Діджитал агенція, що створює цілісний продукт створює цілісний продукт</p>

  <div class="">
    <p>Політика Конфіденційності</p>
    <p>Договір Оферти</p>
  </div>
</section>
