<figure class="team-card">
  <picture class="team-card__image">
    <source
      srcset="{{img}}.png x1, {{img}}@2x.png 2x, {{img}}@3x.png 3x"
      type="image/png"
    />
    <source
      srcset="{{img}}.png?as=webp x1, {{img}}@2x.png?as=webp 2x, {{img}}@3x.png?as=webp 3x"
      type="image/webp"
    />
    <img src="{{img}}.png" alt="{{alt}}" width="{{side}}" height="{{side}}" />
  </picture>
  <figcaption class="team-card__caption">
    <hgroup class="team-card__heading">
      <p class="team-card__name">{{name}}</p>
      <h3 class="team-card__position">{{position}}</h3>
    </hgroup>
  </figcaption>
</figure>
