<section>
  <h2>сильну агенцію будує сильна <span>команда</span></h2>

  <div style="display: flex">
    <include
      src="partials/team-card.html"
      locals='{
      "img": "assets/team/roman.png",
      "alt": "Роман Данілюк Co-founder, директор",
      "name": "Роман Данілюк",
      "position": "Co-founder, директор"
    }'
    ></include>

    <include
      src="partials/team-card.html"
      locals='{
      "img": "assets/team/roman.png",
      "alt": "Роман Данілюк Co-founder, директор",
      "name": "Роман Данілюк",
      "position": "Co-founder, директор"
    }'
    ></include>

    <include
      src="partials/team-card.html"
      locals='{
      "img": "assets/team/roman.png",
      "alt": "Роман Данілюк Co-founder, директор",
      "name": "Роман Данілюк",
      "position": "Co-founder, директор"
    }'
    ></include>

    <include
      src="partials/team-card.html"
      locals='{
      "img": "assets/team/roman.png",
      "alt": "Роман Данілюк Co-founder, директор",
      "name": "Роман Данілюк",
      "position": "Co-founder, директор"
    }'
    ></include>
  </div>
</section>
