<section id="team" class="team-section">
  <h2 class="team-title">
    сильну агенцію будує сильна <span class="accent">команда</span>
  </h2>

  <div class="team-cards__container">
    <include
      src="partials/team-card.html"
      locals='{
      "img": "src/assets/images/team/roman",
      "alt": "Роман Данілюк Co-founder, директор",
      "name": "Роман Данілюк",
      "position": "Co-founder, директор",
      "side": "372"
    }'
    ></include>

    <include
      src="partials/team-card.html"
      locals='{
      "img": "src/assets/images/team/bella",
      "alt": "Ізабелла Co-founder, проджект",
      "name": "Ізабелла",
      "position": "Co-founder, проджект",
      "side": "372"
    }'
    ></include>

    <include
      src="partials/team-card.html"
      locals='{
      "img": "src/assets/images/team/snizhana",
      "alt": "Гембік Сніжана Графічний дизайнер, UX/UI дизайнер",
      "name": "Гембік Сніжана",
      "position": "Графічний дизайнер, UX/UI дизайнер",
      "side": "372"
    }'
    ></include>

    <include
      src="partials/team-card.html"
      locals='{
      "img": "src/assets/images/team/lena",
      "alt": "Лєна. СММ",
      "name": "Лєна",
      "position": "СММ",
      "side": "372"
    }'
    ></include>
  </div>
</section>
