<section id="ticker">
  <h2 class="brand-title">нам<br />довіряють</h2>

  <div
    class="ticker-slider"
    style="--width: 265px; --height: 73px; --quantity: 9"
  >
    <div class="ticker-list">
      <div class="item" style="--position: 1">
        <img
          src="/src/assets/images/brands/pepsico.svg"
          alt="pepsico banner"
          width="265"
          height="73"
        />
      </div>
      <div class="item" style="--position: 2">
        <img
          src="/src/assets/images/brands/pepsico.svg"
          alt="pepsico banner"
          width="265"
          height="73"
        />
      </div>
      <div class="item" style="--position: 3">
        <img
          src="/src/assets/images/brands/pepsico.svg"
          alt="pepsico banner"
          width="265"
          height="73"
        />
      </div>
      <div class="item" style="--position: 4">
        <img
          src="/src/assets/images/brands/pepsico.svg"
          alt="pepsico banner"
          width="265"
          height="73"
        />
      </div>
      <div class="item" style="--position: 5">
        <img
          src="/src/assets/images/brands/pepsico.svg"
          alt="pepsico banner"
          width="265"
          height="73"
        />
      </div>
      <div class="item" style="--position: 6">
        <img
          src="/src/assets/images/brands/pepsico.svg"
          alt="pepsico banner"
          width="265"
          height="73"
        />
      </div>
      <div class="item" style="--position: 7">
        <img
          src="/src/assets/images/brands/pepsico.svg"
          alt="pepsico banner"
          width="265"
          height="73"
        />
      </div>
      <div class="item" style="--position: 8">
        <img
          src="/src/assets/images/brands/pepsico.svg"
          alt="pepsico banner"
          width="265"
          height="73"
        />
      </div>
      <div class="item" style="--position: 9">
        <img
          src="/src/assets/images/brands/pepsico.svg"
          alt="pepsico banner"
          width="265"
          height="73"
        />
      </div>
    </div>
  </div>
</section>
