<section id="ticker">
  <h2 class="brand-title">нам<br />довіряють</h2>

  <div class="ticker-full">
    <div class="ticker-slide">
      <img
        src="/src/assets/images/brands/pepsico.svg"
        alt="pepsico banner"
        width="265"
        height="73"
      />
      <img
        src="/src/assets/images/brands/pepsico.svg"
        alt="pepsico banner"
        width="265"
        height="73"
      />
      <img
        src="/src/assets/images/brands/pepsico.svg"
        alt="pepsico banner"
        width="265"
        height="73"
      />
      <img
        src="/src/assets/images/brands/pepsico.svg"
        alt="pepsico banner"
        width="265"
        height="73"
      />
      <img
        src="/src/assets/images/brands/pepsico.svg"
        alt="pepsico banner"
        width="265"
        height="73"
      />
      <img
        src="/src/assets/images/brands/pepsico.svg"
        alt="pepsico banner"
        width="265"
        height="73"
      />
    </div>
  </div>
</section>
